<main>
  <h1 class="main-aboutus">About us</h1>
  {{! /////Text has been copied from chat GTP////// }}
  <p class="about-details">Welcome to "Meet", your premier destination for
    technology-focused seminars! We bring together industry experts and tech
    enthusiasts to explore the latest trends, innovations, and advancements in
    various tech domains. From AI and machine learning to web development and
    cybersecurity, our seminars offer a platform for learning, networking, and
    growth. Join us to stay ahead in the fast-paced world of technology and
    connect with like-minded professionals.</p>

  {{! /////Image has been taken from shutterstock////// }}

  <div><img
      src="pics/shutterstock_211091626.png"
      alt="about us"
      class="about-image"
    /></div>

</main>