<main>
  <div id="mainImage"></div>
  <section class="event-container">
    <div class="single_event">
      <div class="card-cont">
        <figure>
          <figcaption class="product-name product-caption">
            Cyber Frontier
          </figcaption>
          <p class="event-text">
            Pioneering advancements and security in the digital landscape
          </p>

          <!-- <button class="info_btn">Learn More</button> -->
          <div class="read_more">
            <img
              class="similar-image"
              src="pics/Bitmap.png"
              alt="Cyber Frontier"
            />
            <button class="info_btn">Learn More</button>
          </div>
        </figure>
      </div>

      <div class="card-cont">
        <figure>
          <figcaption class="product-name product-caption">
            Robotics
          </figcaption>
          <p class="event-text">
            Innovating automation through intelligent machines and systems
          </p>

          <!-- <button class="info_btn">Learn More</button> -->
          <div class="read_more">
            <img
              class="similar-image"
              src="pics/Bitmap(1).png"
              alt="Robotics"
            />
            <button class="info_btn">Learn More</button>
          </div>
        </figure>
      </div>
      <div class="card-cont">
        <figure>
          <figcaption class="product-name product-caption">
            Synergy
          </figcaption>
          <p class="event-text">
            The power of collaboration, where combined efforts create greater
            outcomes
          </p>

          <!-- <button class="info_btn">Learn More</button> -->
          <div class="read_more">
            <img
              class="similar-image"
              src="pics/shutterstock_211091626.png"
              alt="Synergy"
            />
            <button class="info_btn">Learn More</button>
          </div>
        </figure>
      </div>
    </div>
  </section>
</main>